.team-member-name
{
    padding-top: 3rem;
}

.team-member-image
{
    width: 30%;
    margin: 1rem 0 1rem 0;
    border-radius: 50%;
}

.team-member-blurb
{
    width: 80%;
    margin-left: 10%;
}

.team-member-title
{
    font-weight: bold;
}

.team-member
{
    text-align: center;
    width: 50%;
    height: 32rem;
    display: inline-block;
}