#not-found-wrapper
{
    background-color: #FAFAFA;
    height: calc(100vh - 4.7rem);
}

#not-found-title
{
    font-size: 25vh;
    text-align: center;
    margin-top: 10vh;
    font-weight: bold;
}

#not-found-blurb
{
    text-align: center;
    font-size: 2rem;
    margin: 0 20% 0 20%;
}