#home-page-first
{
    height: calc(100vh - 4.7rem);
    background-image: url(../../assets/main_background.png);
    background-size: auto 182%;
    background-position: 0 -20rem;
    text-align: center;
}

#home-page-first-alpha-group
{
    background-color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    margin-top: 15vh;
    border-radius: 1rem;
    padding: 1rem;
}

#home-page-first-title
{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
}

#home-page-first-subtitle
{
    margin: 1rem 0rem 1rem 0;
    font-size: 2rem;
}

#home-page-first-button-group
{
    margin: 2rem 0 0 0;
}

#home-page-first-register-button
{
    display: inline-block;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.75);
    width: 4rem;
    border-radius: 5px;
    color: black;
}

#home-page-first-about-button
{
    display: inline-block;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.75);
    margin-right: 1rem;
    width: 4rem;
    border-radius: 5px;
    color: black;
}